body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav span {
    font-size: 1.5rem;
    color:#007BFF;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

#signout {
    color: #fff;
    text-decoration: none;
    margin-left: auto;
}

nav a:hover {
    color: #007BFF;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}


.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 300px;
    height: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    flex: 1;
    font-size: 1.5rem;
}

.footer-links {
    flex: 1;
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    flex: 1;
    text-align: right;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: gray;
}
